<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="https://www.linkedin.com/in/5743rhodesm">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mike-rhodes">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://stackexchange.com/users/4356266/mike-rhodes">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-stack-overflow fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                

                <ul class="list-inline text-center">
                  <li>
                    <p class="copyright text-muted">Copyright &copy; Michael Rhodes 2015 </p>
                  </li>
                </ul>

            </div>
        </div>
    </div>
</footer>
